{% extends "webfolder/_base.html" %}

{% block title %}
My Files {{ block.super }}
{% endblock %}

{% block content %}

<div class="ui stacked segment">
    <h3 class="ui dividing header">
        My Files
    </h3>

    {% include "webfolder/includes/menu_new.html" %}

    <div class="ui basic feed segment">
        <h4 class="ui dividing header">
            3 days ago
        </h4>

        <div class="event">
            <div class="label">
                <i class="circular globe icon"></i>
            </div>
            <div class="content">
                <div class="date">
                    3 days ago
                </div>
                <div class="summary">
                    <i class="circular inverted green unlock icon"></i>
                    <a>You</a> added 2 links
                </div>
                <div class="extra text">
                    <div class="ui horizontal list">
                        <div class="item"><a href="http://www.github.com/aert">http://www.github.com/aert</a></div>
                        <div class="item"><a href="http://www.m6.fr">http://www.m6.fr</a></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ACTIONS -->
        <center>
            <a href="{% url "files" %}">
                <div class="ui button">
                    Cancel
                </div>
            </a>
            <a class="ui labeled negative icon button delete_button">
                <i class="trash icon"></i>
                Delete
            </a>
            <div class="ui labeled blue icon button">
                <i class="lock icon"></i>
                UnShare
            </div> 
        </center>
    </div>
</div>

<!-- MODAL -->
<div class="ui small modal delete_modal">
  <div class="header">
    Delete Confirmation
  </div>
  <div class="content">
    <p>Do you want to delete this item ?</p>
  </div>
  <div class="actions">
      <div class="ui button">
          Cancel
      </div>
      <div class="ui labeled primary icon button">
          <i class="trash icon"></i>
          Delete
      </div>
  </div>
</div>
{% endblock %}
