{% extends "webfolder/_base.html" %}

{% block title %}
My Files {{ block.super }}
{% endblock %}

{% block content %}

<div class="ui stacked feed segment">
    <h3 class="ui dividing header">
        My Files
    </h3>

    <div class="event">
        <div class="label">
            <a href="{% url "files-detail" 1 %}"> <i class="circular attachment icon"></i></a>

        </div>
        <div class="content">
            <div class="date">
                Just moments ago
            </div>
            <div class="summary">
                <a>You</a> added 3 attachements
            </div>

            <div class="extra text">
                <div class="ui small horizontal list">
                    <div class="item">
                        <i class="large download icon"></i>

                        <div class="content">
                            <div class="header"><a href="#">MCD WebFolder.mcd</a></div>
                            3,7 Mo
                        </div>
                    </div>
                    <div class="item">
                        <i class="large download icon"></i>

                        <div class="content">
                            <div class="header"><a href="#">Déclaration Droits.docx</a></div>
                            695,78 Ko
                        </div>
                    </div>
                    <div class="item">
                        <i class="large download icon"></i>

                        <div class="content">
                            <div class="header"><a href="#">0071627022_McGraw.Hill.-.Pre-Calculus.Know-It-ALL.Edition.2009.Retail.Ebook-ATTiCA.rar</a>
                            </div>
                            1,54 Go
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="event">
        <div class="label">
            <a href="{% url "files-detail" 1 %}"><i class="circular comment outline icon"></i></a>
        </div>
        <div class="content">
            <div class="date">
                3 days ago
            </div>
            <div class="summary">
                You added a note
            </div>
            <div class="extra text">
                I am a dog and I do not know how to make a post
            </div>
        </div>
    </div>
    <div class="event">
        <div class="label">
            <a href="{% url "files-detail" 1 %}"><i class="circular globe icon"></i></a>
        </div>
        <div class="content">
            <div class="date">
                3 days ago
            </div>
            <div class="summary">
                <a>You</a> added <a>2 links</a>
            </div>
            <div class="extra text">
                <div class="ui horizontal list">
                    <div class="item"><a href="http://www.github.com/aert">http://www.github.com/aert</a></div>
                    <div class="item"><a href="http://www.m6.fr">http://www.m6.fr</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- PAGINATION -->
    <center>
        <div class="ui labeled icon button">
            <i class="left arrow icon"></i>
            Previous
        </div>
        <div class="ui right labeled icon button">
            <i class="right arrow icon"></i>
            Next
        </div>
    </center>
</div>

{% endblock %}
