Source: aert-webfolder
Section: misc
Priority: extra
Maintainer: aert <dev.aert@gmail.com>
Build-Depends: debhelper (>= 8.0.0),
    python (>= 2.7-3~),
    dh-virtualenv,
    python-dev
X-Python-Version: >= 2.7
Standards-Version: 3.9.4
Homepage: https://github.com/aert/aert-webfolder
Vcs-Git: git@github.com:aert/aert-webfolder.git
Vcs-Browser: https://github.com/aert/aert-webfolder

Package: aert-webfolder
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}
Description: Online storage for links notes and files.
 See homepage for more information.
