
html,
body {
  font-size: 15px;
  padding: 20px;
  height: 100%;
}
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: #FCFCFC url(../images/bg.png) repeat;
  /*background-color: #F3F0EB;*/
  margin: 0px;
  padding: 0px;
  color: #555555;
  min-width: 320px;
}

a {
  text-decoration: none;
}


.ui.feed a {
    color: #D95C5C;
}


body.login #main_segment {
	max-width: 400px;
	margin-left:auto;
	margin-right:auto;
}

.z_header_actions {
    float: right;
}
