<!-- MODAL -->
<!-- Note -->
<div class="ui small modal" id="modal_new_note">
    <div class="header">
        <i class="comment outline icon"></i>
        New Note...
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Note :</label>
                <textarea></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui labeled blue icon button">
            <i class="save icon"></i>
            Save
        </div>
        <div class="ui button">
            Cancel
        </div>
    </div>
</div>

<!-- Links -->
<div class="ui small modal" id="modal_new_links">
    <div class="header">
        <i class="globe icon"></i>
        New Link...
    </div>
    <div class="content">
        <div class="ui form">
            <div class="field">
                <label>Links (one per line) :</label>
                <textarea></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui labeled blue icon button">
            <i class="save icon"></i>
            Save
        </div>
        <div class="ui button">
            Cancel
        </div>
    </div>
</div>

