{% load lineage %}

<div class="ui tiered menu">
    <div class="menu">
        <a class="{% ancestor 'files' %} item" href="{% url "files" %}">
            <i class="time icon"></i>Files
        </a>
        <a class="{% ancestor 'shares' %} item" href="{% url "shares" %}">
            <i class="cloud upload icon"></i>My Shares
        </a>
        <a class="{% ancestor 'friends' %} item" href="{% url "friends" %}">
            <i class="cloud download icon"></i>Friends
        </a>

        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input placeholder="Search..." type="text">
                    <i class="search icon"></i>
                </div>
            </div>

            <!--ADD NEW...-->
            <div class="ui tiny dropdown item">
                <div class="ui black icon button"><i class="add sign icon"></i>New</div>

                <div class="menu">
                    <a class="item"><i class="comment outline icon"></i>Note</a>
                    <a class="item"><i class="globe icon"></i>Link</a>
                    <a class="item"><i class="attachment icon"></i>File</a>
                </div>
            </div>

            <!--USER ACTIONS-->
            <div class="ui dropdown item">
                <i class="user icon"></i><i class="icon dropdown"></i>

                <div class="menu">
                    <a class="item"><i class="setting icon"></i>My Account</a>
                    <a class="item"><i class="settings icon"></i>Administration</a>
                    <a class="item"><i class="sign out icon"></i>Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui sub menu">
        <a class="active item"><i class="home icon"></i> All </a>
        <a class="item"><i class="comment outline icon"></i> Notes </a>
        <a class="item"><i class="globe icon"></i> Links </a>
        <a class="item"><i class="attachment icon"></i> Files </a>
    </div>
</div>
